.face {
  position: relative;
  z-index: 1;
  width: 4rem;
  height: 4rem;
}

.face svg {
  --shadow-color: rgba(0, 0, 0, 0.2);
  /* filter: drop-shadow(0 0 0.5rem var(--shadow-color)); */
  /* todo */
  fill: none;
  stroke: var(--black);
  stroke-width: 25;
  /* stroke-linecap: round; */
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-out, filter 0.1s linear;
}

@media print {
  .face svg {
    transform: none !important;
    filter: none !important;
  }
}

.face .eye path {
  animation: blink 5s infinite;
  transform-box: fill-box;
  transform-origin: center;
  stroke-linecap: round;
}

@keyframes blink {
  0% {
    transform: scaleY(1) scaleX(1);
  }

  94% {
    transform: scaleY(1) scaleX(1);
  }

  97% {
    transform: scaleY(0) scaleX(0.8);
  }

  100% {
    transform: scaleY(1) scaleX(1);
  }
}
