@import './face.css' layer(face);
@import './nav.css' layer(nav);

header {
  width: 100%;
  font-size: 1.2em;
  /* for popover menus */
  z-index: 1;
  display: flex;
  /* gap: 2rem; */
  border-bottom: 0.1rem solid var(--black);
  /* todo */
  /* position: sticky;
    top: -3rem; */
}

/* todo always accent or black */
header .logo {
  width: 5rem;
  padding: 0.5rem 0rem;
  flex-shrink: 0;
}

header .logo {
  background-color: var(--black);
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  /* color-adjust: exact; */
  forced-color-adjust: none;
}

header .logo .face svg {
  stroke: var(--white);
}

/* html[data-color-scheme='dark'] .logo {
    background-color: var(--accent);
  } */

header h1 {
  flex: 1;
}

header h1 {
  font-size: 1.5em;
  background-clip: text;
  grid-area: title;
  max-width: fit-content;
}

@media not print {
  header h1 {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom right, var(--black), var(--accent));
    color: transparent;
  }
}
