header {
  padding: 0;
}

header > .logo {
  display: none;
}

header nav {
  flex-direction: column-reverse;
}

header nav > ul {
  flex-basis: 100%;
  justify-content: space-evenly;
  position: static;
}

header nav .fake-details div.nav-dropdown {
  left: 1rem;
  right: 1rem;
}
