<!--{{head}}-->
<title>~jordan/utilities/clipboard</title>
<style>
  header nav li.clipboard,
  header nav li.utilities {
    font-weight: 900;
  }

  #pasteboard {
    margin-bottom: 0.5em;
  }

  #outputs iframe {
    /* all: revert; */
    border: var(--default-border);
    background-color: canvas;
  }

  #outputs {
    display: grid;
    grid-auto-flow: row;
    gap: 1em;
  }

  #outputs figure {
    border: var(--default-border);
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 0.5em;
  }

  #outputs figcaption {
    font-size: 1.2em;
    font-style: italic;
  }

  #outputs figure button {
    width: fit-content;
  }
</style>
<!--{{/head}}-->
<!--{{title}}-->
<small style="font-weight: normal">utilities/</small>clipboard
<!--{{/title}}-->
<!--{{main}}-->
<noscript
  >This is a live-updating dashboard; as such, you need to enable JavaScript for it to
  work.</noscript
>
<input type="text" placeholder="paste anywhere" id="pasteboard" maxlength="0" size="15" autofocus />
<div id="outputs"></div>
<script type="module">
  import main from '/static/js/clipboard.js';
  main();
</script>
<!--{{/main}}-->
