/* 
 * .full-width - content is borderless with larger padding, spacer on both sides of header
 * .minimal   - no shadows, only selected tab has border
 */

/* todo: wrapping? */
/* todo: .light variant where only selected tab has border */
tabs-component {
  .tabs-header {
    display: flex;
    height: 3em;
  }

  .tabs-header .lbl {
    /* basic button reset */
    background-color: transparent;
    color: currentColor;
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:last-of-type) {
      /* effectively collapses border-right while preserving radius */
      margin-right: var(--default-border-width);
    }

    padding: 0 0.7rem;
    --lift: 0em;
    padding-top: calc(0.4em + var(--lift));
    margin-top: calc(0.4em - var(--lift));

    --border-bottom-shadow: inset 0 calc(-1 * var(--default-border-width)) var(--black);
    --adjacent-shadow: inset var(--adjacent-shadow-offset-x, 0)
      var(--adjacent-shadow-offset-y, -0.4rem) 0 rgba(0, 0, 0, 0.1);
    box-shadow: var(--border-bottom-shadow), var(--adjacent-shadow);

    /* background-color: rgba(0, 0, 0, 0.03); */

    --box-shadow-transition: box-shadow 0.2s;
    transition:
      margin-top 0.2s,
      font-weight 0.1s,
      padding-top 0.2s,
      border-bottom-width 0.1s,
      border-radius 0.2s,
      var(--box-shadow-transition);

    border: var(--default-border);
    border-bottom: 0;

    /* collapse all right borders by nudging all labels over one border-width */
    &:not(:last-of-type) {
      margin-right: calc(-1 * var(--default-border-width));
    }

    /* the label text is outlined rather than the whole button. */
    &:focus-visible {
      outline: none;

      span {
        outline: var(--default-outline);
        outline-offset: 0.2rem;
      }
    }

    /* perk up anything that acts independently */
    &:hover,
    &[aria-current='location'],
    &:active {
      border-radius: 0.2em 0.2em 0 0;
    }

    /* lift up the selected button */
    &[aria-current='location'] {
      --lift: 0.3em;
      --border-bottom-shadow: inset 0 0 0 0 transparent;

      &:not(:active) {
        --box-shadow-transition: box-shadow 0s;
      }
    }

    &:active {
      --lift: 0.35em;
    }

    /* partially strengthen engaged buttons */
    /* checkme: this bolds when :active, inconsistent with header link behavior */
    &[aria-current='location'],
    &:active {
      --adjacent-shadow: inset 0 0 transparent;
      font-weight: bold;
    }

    /* todo: slight shadow on aria-current when adjacent to :active? */
    /* really strengthen clicked unselected buttons */
    &:active:not([aria-current='location']) {
      --adjacent-shadow-offset-x: 0;
    }

    /* lift buttons slightly if they are only being hovered */
    &:not([aria-current='location'], :active):hover {
      --lift: 0.2em;
    }

    &:first-child {
      border-top-left-radius: 0.2em;
    }

    &:last-child {
      border-top-right-radius: 0.2em;
    }

    /* look left, shade right */
    &[aria-current='location'] + .lbl:not(:active) {
      --adjacent-shadow-offset-x: 0.3rem;
    }

    /* look right, shade left */
    &:not(:active):has(+ .lbl[aria-current='location']) {
      --adjacent-shadow-offset-x: -0.3rem;
    }
  }

  /* lower selected relative to active */
  .tabs-header:has(.lbl:active:not([aria-current='location'])) .lbl[aria-current='location'] {
    --lift: 0.1em;
    font-weight: normal;
  }

  /* sets the full width of the button to its bolded state,
   * preventing width shifting when selected */
  .tabs-header .lbl::before {
    content: attr(data-label);
    font-weight: bold;
    height: 0;
    visibility: hidden;
  }

  /* fill the remaining width with bottom border */
  &:not(.right-aligned) .tabs-header::after,
  &.right-aligned .tabs-header::before {
    content: '';
    flex-grow: 1;
    border-bottom: var(--default-border);
  }

  .tabs-content {
    display: block;
    border: var(--default-border);
    border-top: 0;
    padding: 0.5rem;
  }

  tabs-tab-component:not(.target) {
    display: none;
  }

  &.full-width {
    .tabs-content {
      border: 0;
      padding: 1rem;
    }

    /* pad the label strip */
    .tabs-header::after,
    .tabs-header::before {
      content: '';
      flex-basis: 1rem;
      border-bottom: var(--default-border);
    }
  }

  &.minimal {
    .tabs-header .lbl {
      --adjacent-shadow: inset 0 0 transparent;

      /* non-current styled like link */
      &:hover {
        text-decoration: underline;
      }

      &:not([aria-current='location']) {
        --lift: 0em;
        border-color: transparent;
      }

      /* to compensate for the transparent border, we must collapse both edges */
      margin-right: calc(-1 * var(--default-border-width));
      margin-left: calc(-1 * var(--default-border-width));
    }

    /* add a little spacer we can collapse the endmost border into. */
    &:not(.right-aligned):not(.full-width) .tabs-header::before,
    &.right-aligned:not(.full-width) .tabs-header::after {
      content: '';
      flex-basis: var(--default-border-width);
      border-bottom: var(--default-border);
    }
  }
}
