@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  height: 100%;
  --white: #fff;
  --black: #222;
  --good: darkseagreen;
  --bad: lightcoral;
  --accent: dodgerblue;
  --visited: mediumslateblue;
  --noise: url("/static/img/noise-light.png");
}

@media (prefers-color-scheme: dark) {
  html {
    --black: #eee;
    --white: #222;
    --accent: lightskyblue;
    --visited: plum;
    /* --noise: url("/static/img/noise-dark.png"); */
  }
}

body {
  background-color: var(--white);
  color: var(--black);
  background-image: var(--noise);
  font-family: "Roboto", system-ui, Helvetica, Arial, sans-serif;
  transition: background-color 0.5s;
}

/******* links ********/

a:link {
  color: var(--accent);
}

a:visited {
  color: var(--visited);
}
