header {
  display: grid;
  align-items: center;
  grid-template-areas: 'face title' 'nav nav';
  grid-template-columns: 5rem auto;
  grid-template-rows: 5rem auto;
  row-gap: 0.5rem;
}

header nav,
header h1 {
  justify-self: center;
  margin: 0 0.5rem;
}

header nav {
  justify-content: space-evenly;
  width: 100%;
}
