@import './lib/josh.css';
@import './layout-desktop.css' (min-aspect-ratio: 30001/40000);
@import './layout-mobile.css' (max-aspect-ratio: 30000/40000);
@import './lib/colors-switcher.css';
@import './lib/face.css';
@import './lib/interactive.css';

body {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  max-width: 100rem;
  margin: 0;
}

main {
  flex-grow: 1;
}

main,
footer {
  padding: 1rem 1rem;
}

header {
  font-size: 1.2em;
  border-bottom: 0.1rem solid var(--black);
  z-index: 1;
  /* for popover menus */
}

/* todo always accent or black */
header .face-wrapper {
  grid-area: face;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0rem;
}

header .face-wrapper {
  background-color: var(--black);
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  /* color-adjust: exact; */
  forced-color-adjust: none;
}

header .face-wrapper .face svg {
  stroke: var(--white);
}

html[data-color-scheme='dark'] .face-wrapper {
  background-color: var(--accent);
}

header nav {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 0.5rem;
  align-items: center;
  grid-area: nav;
}

@media print {
  header nav {
    display: none;
  }
}

header nav li {
  transition: font-weight 0.2s;
  /* checkme this clicks without variable fonts */
}

header nav > ul {
  display: inline-flex;
  gap: 0.5rem;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header nav a:not(:hover) {
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

header nav details {
  position: relative;
}

header nav details summary {
  cursor: pointer;
  display: inline-block;
  color: var(--accent);
}

header nav li > details[open] > summary {
  font-weight: 600;
}

header nav details > summary::after {
  content: ' [+]';
}

header nav details[open] > summary::after {
  content: ' [-]';
}

header nav details div.nav-dropdown {
  position: absolute;
  top: 2rem;
  height: 5rem;
  border: 0.1rem solid var(--black);
  width: max-content;
  padding: 0.2rem;
  box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}

header h1 {
  font-size: 1.5em;
  background-clip: text;
  grid-area: title;
  white-space: nowrap;
  max-width: fit-content;
}

@media not print {
  header h1 {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom right, var(--black), var(--accent));
    color: transparent;
  }
}

/* The footer is stuck to the bottom of the page. */
footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  margin-top: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
