header {
    display: grid;
    justify-items: center;
    grid-template-areas: 'face''title''nav';
    grid-template-rows: 5rem auto auto;
    row-gap: 0.5rem;
}

header nav,
header h1 {
    justify-self: center;
    margin: 0 0.5rem;
}