/******** interactivity module ********/

input {
  --status: var(--black);
}

input:invalid {
  /* todo prob localize to input */
  --status: var(--bad);
}

input,
button,
textarea,
input[type='checkbox']::after {
  border-radius: 0.2em; /* checkme. we need to indicate that elements are interactive somehow but I don't like this compromise particularly */
  border: var(--default-border);
  background-color: transparent;
  color: inherit;
}

textarea {
  padding: 0.5rem;
}

input,
button {
  /* checkme inherit? */
  font-weight: bold;
  transition: box-shadow 0.2s;
}

.buttonsize,
input,
button {
  padding: 0.5rem 0.7rem;
}

input[type='button']:not(:disabled),
input[type='submit']:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

input[type='submit']:not(:disabled):hover,
input[type='button']:not(:disabled):hover,
button:not(:disabled):hover {
  box-shadow: 0 0.2rem 0 var(--black), 0 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}

form:valid input[type='submit']:active:not(:disabled),
input[type='button']:active:not(:disabled),
button:active:not(:disabled) {
  box-shadow: inset 0 0.1rem 0 var(--black), inset 0 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}

input[type='text'],
input[type='text']::placeholder {
  font-weight: normal;
}

input[type='submit'] {
  text-align: left;
  margin-right: 0;
}

input[type='text']:valid,
form:valid > input[type='submit'] {
  --status: var(--good);
}

form:invalid > input[type='submit'],
input:disabled,
button:disabled {
  opacity: 0.5;
}

input[type='text']:not([readonly]):not(:disabled) {
  box-shadow: inset -0.5rem 0 0 var(--status);
}

input[type='text']:not([readonly]):not(:disabled):focus {
  box-shadow: inset -0.8rem 0 0 var(--status);
}

input[type='radio'],
input[type='checkbox'] {
  width: 0.8em;
  height: 0.8em; /* todo vertical align*/
}
