@import url('./machine.css');

header nav li.godango,
header nav li.utilities {
  font-weight: 900;
}

.length-value {
  font-family: monospace;
}

.godango-app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
