/* todo: wrapping */
.godango-machine {
  display: flex;

  .reel {
    /* todo: signature mono font */
    display: flex;
    flex-flow: column;
    transform-style: preserve-3d;
    perspective: 100px;
    align-items: center;
    height: 3rem;
    overflow: hidden;
    border: var(--default-border);
    user-select: none;
  }

  .reel:not(.controller) {
    font-family: monospace;
  }

  .reel:not(.controller, .sauce) {
    flex: 0 0 11ch;
  }

  .controller {
    width: max-content;
    margin-right: 1rem;
    border-radius: 0.25rem;
    --controller-shadow-color: color-mix(in srgb, var(--black) 50%, transparent);
    box-shadow:
      inset 0 0.4rem 0.4rem -0.4rem var(--controller-shadow-color),
      inset 0 -0.4rem 0.4rem -0.4rem var(--controller-shadow-color);
  }

  .reel:not(.controller):not(:last-child) {
    border-right-width: 0;
  }

  .face {
    height: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0.5rem 1rem;
    will-change: transform, transform-origin, opacity;
  }
}
