/* global */

html {
    height: 100%;
    --white: white;
    --black: black;
}

@media (prefers-color-scheme: dark) {
    html {
        --black: white;
        --white: black;
    }
    footer img.invertible {
        filter: hue-rotate(180deg) invert(1);
    }
}

body {
    height: 100%;
    margin: 0;
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Helvetica, Arial sans-serif;
}

/* 
a:link {
    color: mediumslateblue;
}

a:visited {
    color: mediumpurple;
}

a:active {
    color: orchid;
} */

/* page-specific */

main#layout {
    box-sizing: border-box;
    padding: 2rem;
    font-size: 1.2rem;
    margin: 1rem min(10rem, 5vw);
    transform-origin: center center;
    position: relative;
    --main-height: 100%;
}

main#layout::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--main-height);
    transition: border 0.5s, box-shadow 0.5s, height 1s;
    border-color: var(--black);
    border: 0.1rem solid;
    box-shadow: 0.5rem 0.5rem var(--black);
}

main#layout>h1.title {
    margin-top: 0;
}

@media screen and (orientation:portrait) {
    main#layout::after {
        border-color: transparent;
        box-shadow: 0.2rem 0.2rem transparent;
    }
}

header, footer {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    background-size: 3rem;
}

header {
    border-bottom: 0.1rem solid var(--black);
}

footer {
    border-top: 0.1rem solid var(--black);
    display: flex;
    justify-content: space-between;
}

header>nav>ul::after {
    content: " ]";
}

header>nav>ul::before {
    content: "[ ";
}

header>nav>ul>li:not(:last-of-type)::after {
    content: " | ";
    font-weight: normal;
}

header>nav>ul {
    list-style: none;
}

header>nav>ul>li {
    display: inline;
}

header>nav, header>nav>ul {
    padding: 0;
    margin: 0;
}